<% unless user_signed_in? || mla_signed_in? %>
	<section class="hero">
		<div class="row">
			<div class="small-12 columns hero-heading">
				<h1><span class="orange">United</span><span class="green">India</span></h1>
				<h2>Stand For Your People</h2>
			</div>
		</div>
		<div class="row">
			<div class="hero-link small-12 columns">
				<a href="#" id="howitworks">See How It Works</a>
			</div>
		</div>
			<div class="row">
				<div class="hero-button small-12 small-centered columns">
					<%= link_to("Register Now", new_user_registration_path) %>
				</div>
			</div>
		</div>
	</section>

<section class="features">
	<header class="feature-heading">
		<p>How It Works!</p>
	</header>
	<div class="row" id="features">
		<div class="small-12 large-4 columns">
			<div class="feature">
				<div class="feature-image">
					<h1 class="question-mark">?</h1>
				</div>
				<div class="feature-text">
					<p>Have a Problem?</p>
				</div>
			</div>
		</div>
		<div class="small-12 large-4 columns">
			<div class="feature">
				<div class="feature-image">
					<img src="img/mark.png" class="check-mark max-img">
				</div>
				<div class="feature-text">
					<p>Submit the Problem with Description & Documents/Proof</p>
				</div>
			</div>
		</div>
		<div class="small-12 large-4 columns">
			<div class="feature">
				<div class="feature-image">
					<img src="img/thumb.png" class="people-group max-img">
				</div>
				<div class="feature-text">
					<p>Problem will be Voted by People!</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 large-4 columns">
			<div class="feature">
				<div class="feature-image">
					<img src="img/mla.png" class="people-group max-img">
				</div>
				<div class="feature-text">
					<p>MLA will solve Maximum Voted Problems!</p>
				</div>
			</div>
		</div>
		<div class="small-12 large-4 columns">
			<div class="feature">
				<div class="feature-image">
					<img src="img/analytics.png" class="people-group max-img">
				</div>
				<div class="feature-text">
					<p>Keep an eye on your MLA through analytics!</p>
				</div>
			</div>
		</div>
		<div class="small-12 large-4 columns">
			<div class="feature">
				<div class="feature-image">
					<img src="img/people.png" class="people-group max-img">
				</div>
				<div class="feature-text">
					<p>Volunteers from your constituency will also try to solve problem!</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 large-4 small-centered columns">
			<div class="feature">
				<div class="feature-image">
					<img src="img/rating.png" class="people-group max-img">
				</div>
				<div class="feature-text">
					<p>Volunteers will increase their rating and votes by solving maximum problems!</p>
				</div>
			</div>
		</div>
	</div>
</section>
<% end %>

<% if user_signed_in? %>
	<section class="welcome-user">
		<header class="welcome">
			<p>Hey! <%= current_user.name %>, vote for the deserving problems and try solving them!</p>
		</header>
	</section>
<% end %>

<% if mla_signed_in? %>
	<section class="welcome-user">
		<header class="welcome">
			<p>Hey! <%= current_mla.name %>, check your constituency for latest voted problems!</p>
		</header>
	</section>
<% end %>


<section class="categories">
	<div class="row">
		<ul class="cats">
			<% @categories.each do |category| %>
				<li class="cat-item"><%= link_to(category.name, category) %></a>
			<% end %>
		</ul>
	</div>
</section>

<%= render "partials/problem" %>