<!DOCTYPE html>
<html>
<head>
  <title>Uniindia</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="/js/selectmenu.js"></script>

</head>
<body>
<header class="header">
	<div class="row">
		<div class="small-12 medium-6 large-4 columns">
			<div class="logo">
				<a href="/">United<span class="green">India</span></a>
			</div>
		</div>
		<div class="small-12 medium-6 large-8 columns">
			<ul class="nav">
				<% if user_signed_in? %>
					<li class="nav-item"><%= link_to("Home", root_path) %></li>
					<li class="nav-item"><%= link_to("Volunteer", volunteer_path) %></li>
					<li class="nav-item"><%= link_to("Victim", victim_path) %></li>
					<li class="nav-item"><a href="#" id="userLink"><%= current_user.name %></a></li>
					<div class="toggle-menu" id="userLinks">
						<ul class="user-links">
						    <li class="user-link"><%= link_to("Profile", profile_path(current_user.username)) %></li>
						    <li class="user-link"><%= link_to("Settings", setting_path) %></li>
						    <li class="user-link"><%= link_to("Inbox", conversations_path) %></li>
							<li class="user-link"><%= link_to("Logout", destroy_user_session_path, :method => :delete) %></li>

						</ul>
					</div>
				<% elsif mla_signed_in? %>
					<li class="nav-item"><%= link_to("Home", root_path) %></li>
						<li class="nav-item"><a href="#" id="userLink"><%= current_mla.name %></a></li>
						<div class="toggle-menu" id="userLinks">
							<ul class="user-links">
							    <li class="user-link"><%= link_to("Constituency", constituency_path(current_mla.constituency.id)) %></li>
							    <li class="user-link"><%= link_to("Archive", archive_path) %></li>
								<li class="user-link"><%= link_to("Logout", destroy_mla_session_path, :method => :delete) %></li>

							</ul>
						</div>
				<% else %>
					<li class="nav-item"><%= link_to("Home", root_path) %></li>
					<li class="nav-item"><%= link_to("MLA", new_mla_session_path) %></li>
					<li class="nav-item"><%= link_to("SignIn", new_user_session_path) %></li>
					<li class="nav-item"><%= link_to("SignUp", new_user_registration_path) %></li>
				<% end %>
			</ul>
		</div>
	</div>
</header>

<div class="flash-message" id="flashMessage">
	<div class="row">
		<div class="small-8 columns">
			<p id="errorMessageHook"></p>
		</div>
		<div class="small-4 columns">
			<button class="button right message-close-button" id="close">Close</button>
		</div>
	</div>
</div>

<% flash.each do |name, message| %>
	<div class="flash <%= name %>"><%= message %></div>
<% end %>
<%= yield %>

<footer class="footer">
	<div class="row">
		<p>Designed & Engineered by <a href="https://www.facebook.com/codecast2014">Codecast</p>
		<p>&copy; Copyright <a href="/">UnitedIndia</a></p>
	</div>
</footer>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/search.js"></script>
</body>
</html>
 <!-- (<a href="https://www.facebook.com/anksin1994">Ankur Singhal</a>) </a> -->